<html>
    <head>
        <title>Inicio</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body style="padding: 15px">
        <img src="icon.png" height="60px" width="60px"/>
        <h1>Inicio!</h1>
        <a class="btn btn-primary" href="/home">Inicio</a>
        <a class="btn btn-primary" href="/about">Acerca de</a>
    </body>
</html>